parameters:
    level: 6
    paths:
        - src
        - api
    excludePaths:
        - src/Database/migrations
    scanDirectories:
        - vendor
    ignoreErrors:
        # Add specific ignores here if needed
